{% extends 'base.html.twig' %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/settings.css') }}">
        <link rel="stylesheet" href="{{ asset('css/add_user.css') }}">
    {% endblock %}

{% block body %}
    
    <div class="bcg">
        <h1>Dodaj użytkownika</h1>
        <div class="row">
            {{ form_start(form) }}
            {{ form_row(form.login) }}
            {{ form_row(form.password) }}
            {{ form_row(form.isAdmin) }}
            {{ form_row(form.isLibrarian) }}
            {{ form_row(form.save) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}