{% extends 'base.html.twig' %}
{% block title %}Dodaj użytkownika | {% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/forms.css') }}">
    {% endblock %}

{% block body %}
    
    <div class="bcg">
        <h1>Dodaj użytkownika</h1>
        <div class="row">
            {{ form_start(form) }}
            {{ form_row(form.login) }}
            {{ form_row(form.password) }}
            <div class="check">
                {{ form_row(form.isAdmin) }}
            </div>
            <div class="check">
                {{ form_row(form.isLibrarian) }}
            </div>
            {{ form_row(form.save) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}