{% extends 'base.html.twig' %}
{% block body %}
<h1>Dodaj nową książkę</h1>
    {{ form_start(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.release_date) }}
    {{ form_row(form.ISBN) }}
    {{ form_row(form.description) }}
    {{ form_row(form.authorId, {'empty_value': 'Wybierz autora'}) }}
    {{ form_row(form.submit) }}

    {{ form_end(form) }}
{% endblock %}