{% extends 'base.html.twig' %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/edit_book.css') }}">
    {% endblock %}
{% block body %}

    <h1>Edycja książki</h1>
    {{ form_start(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.release_date) }}
    {{ form_row(form.ISBN) }}
    {{ form_row(form.description) }}
    {{ form_row(form.authorId) }}
    {{ form_row(form.reservation) }}
    {{ form_row(form.borrowed) }}

    {{ form_row(form.submit) }}

    {{ form_end(form) }}
{% endblock %}