{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/book_details.css') }}">
{% endblock %}
{% block body %}
    <div class="bcg row col-md-10 col-sm-12">
        <div class="row">
            <div class="col-md-3">
                <p class='fs-3'>Rok wydania:<br> {{ book.date }}</p>
                <p class='fs-3'>ISBN:<br> {{ book.ISBN }}</p>
            {# {% if user.isAdmin %}
            {% elseif user.isLibrarian %}
                <div class="action_row row">
                    {% if book.borrowed == true %}
                        <a type='button' href="{{ path('app_librarian_book_return', {'id': book.id}) }}" class="btn btn-sm btn-secondary fs-4">Zwróć</a>
                    {% elseif book.reservation == true %}
                        <a type='button' href="{{ path('app_librarian_book_borrow', {'id': book.id}) }}" class="btn btn-sm btn-primary fs-4">Wypożycz</a>
                    {% else %}
                        <a type='button' href="{{ path('app_librarian_book_borrow', {'id': book.id}) }}" class="btn btn-sm btn-primary fs-4 disabled">Wypożycz</a>
                    {% endif %}
                    <a class="btn btn-sm mt-2 btn-secondary fs-4" href="{{ path('app_book_book_edit', {'id': book.id}) }}">Edytuj</a>
                    <a class="btn btn-sm mt-2 btn-danger fs-4" href="{{ path('app_book_delete', {'id': book.id}) }}">Usuń</a>
                </div>
            {% else %}
                <div class="action_row row">
                    <a class="btn btn-sm mt-2 btn-primary fs-4" href="#">Zarezerwuj</a>
                </div>  
            {% endif %} #}
            </div>
            <div class="col-md-7">
                <h1 class='fs-1'>{{ book.title }} </h1>
                <h2 class='fs-2'>{{ book.author }}</h2>
            
                <p id='description' class='fs-3'>{{ book.description }}</p>
            </div>
        </div>

        {% if user.isLibrarian %}
        <h1 class='fs-2'>Historia wypożyczenia</h1>
        <table class='table'>
            <thead>
            <tr>
                <th class='fs-3'>Data wypożyczenia</th>
                <th class='fs-3'>Data oddania</th>
                <th class='fs-3'>Wyporzyczona przez</th>
                <th class='fs-3'>Bibliotekarz</th> 
            </tr>
            </thead>
            <tbody>
                {% for book in borrowHistory %}
                <tr>
                    <td class='fs-4'>{{ book.borrowDate|date('d-m-Y') }}</td>
                    <td class='fs-4'>{{ book.returnDate|date('d-m-Y') }}</td>
                    <td class='fs-4'>{{ book.user_login }}</td>
                    <td class='fs-4'>{{ book.librarian_login }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
{% endblock %}