{% extends 'base.html.twig' %}
{% block title %}Wypożycz/Zwróć | {% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/booklist.css') }}">
    {% endblock %}

{% block body %}
    <div class="row col-sm-12 col-md-8">
        <table class='table'>
            <thead>
            <tr>
                {# <th class='fs-3'>Id książki</th> #}
                <th class='fs-3'>Tytuł</th>
                <th class='fs-3'>Status</th>
                {% if user.isLibrarian %}
                    <th class='fs-3'>Akcja</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                {% set bookId = book.id %}
                <tr>
                    {# <td class='fs-4'>{{ book.id }}</td> #}
                    <td class='fs-4'><a href="{{ path('app_book_page', {'id': bookId}) }}">{{ book.title }}</a></td>
                    <td class='fs-4'>
                        {% if book.reservation == true %}
                            Zarezerwowano
                        {% elseif book.borrowed == true %}
                            Wypożyczona
                        {% elseif book.borrowed == false and book.reservation == false %}
                            Dostępna
                        {% endif %}
                    </td>
                    {% if user.isLibrarian %}
                        <td>
                            <div class="d-grid gap-2">
                                {% if book.borrowed == true %}
                                    <a type='button' href="{{ path('app_librarian_book_return', {'id': book.id}) }}" class="btn btn-sm btn-secondary fs-4">Zwróć</a>
                                {% elseif book.reservation == true %}
                                    <a type='button' href="{{ path('app_librarian_book_borrow', {'id': book.id}) }}" class="btn btn-sm btn-primary fs-4">Wypożycz</a>
                                {% else %}
                                    <a type='button' href="{{ path('app_librarian_book_borrow', {'id': book.id}) }}" class="btn btn-sm btn-primary fs-4 disabled">Wypożycz</a>
                                {% endif %}
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}