{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
    {% if user is defined%}
        <h1 class='mt-3 pt-2'>Witaj, {{ user.login }}</h1>
        {# <p class='p-2'>rola użytkownika
            {% if user.isAdmin %}Admin{% endif %}
            {% if user.isLibrarian %}Bibliotekarz{% endif %}
            {% if not user.isLibrarian  and not user.isAdmin %}Czytelnik{% endif %}</p> #}
        <h3>Polecane tytuły</h3>
        {% else %}
            <h1 class='mt-3 p-2'>Witaj, niezalogowany</h1>
    {% endif %}
    <div id="book-carousel" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#book-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#book-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#book-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            {% if user is defined%}
              <a href="{{ path('app_book_page', {'id': 2}) }}">
              {% else %}
                <a href='#'>
              {% endif %}
            <img src="{{ asset('images/book_covers/hobbit.jpg') }}" class="d-block w-100" alt="Okładka Hobbita">
            <div class="carousel-caption d-none d-md-block">
              <h3>Hobbit</h3>
              <p>JRR Tolkien</p>
              </div>
              </a>
            </div>
          <div class="carousel-item">
            {% if user is defined%}
              <a href="{{ path('app_book_page', {'id': 5}) }}">
              {% else %}
                <a href='#'>
              {% endif %}
            <img src="{{ asset('images/book_covers/lotr.jpg') }}" class="d-block w-100" alt="Okładka Władcy Pierścieni">
            <div class="carousel-caption d-none d-md-block">
              <h3>Powót króla</h3>
              <p>JRR Tolkien</p>
            </div>
            </a>
          </div>
          <div class="carousel-item">
            {% if user is defined%}
            <a href="{{ path('app_book_page', {'id': 1}) }}">
            {% else %}
              <a href='#'>
            {% endif %}
            <img src="{{ asset('images/book_covers/narnia.jpg') }}" class="d-block w-100" alt="Okładka opowieści z Narnii">
            <div class="carousel-caption d-none d-md-block">
              <h3>Lew, czarownica i stara szafa</h3>
              <p>CS Lewis</p>
            </div>
            </a>
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#book-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#book-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
{% endblock %}